<div class="bg-warning rounded text-center p-1 mb-3 w-50 m-auto">
  <h2>Accès restreint !</h2>
  Votre accès est restraint, vous ne pourrez pas réaliser certaines actions comme ajouter, modifier et supprimer du contenu.
</div>