<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Articles</div>
                <a class="nav-link" href="{{ path('admin_post_add') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-rectangle-list"></i></div>
                    Nouvel article
                </a>
            </div>
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Catégories</div>
                <a class="nav-link" href="{{ path('admin_category_list') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-rectangle-list"></i></div>
                    Voir les catégories
                </a>
                <a class="nav-link" href="{{ path('admin_category_add') }}">
                    <div class="sb-nav-link-icon"><i class="fas fa-rectangle-list"></i></div>
                    Nouvelle catégorie
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Connecté en tant que:</div>
            {{ app.user.email }}
        </div>
    </nav>
</div>