<h1>Bonjour, bienvenue sur jeuxVideosNew !</h1>

<p>
    Merci de confirmer votre adresse E-mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon E-mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p class="post-meta">
    Jérôme de jeuxVideoNews.
</p>
