{% extends 'admin/index.html.twig' %}

{% block title %}Ajouter un article{% endblock %}

    {% block main %}
        <div class="text-light">
            {{ form(form) }}
        </div>
    {% endblock %}
