{% extends 'clean.html.twig' %}

{% block title %}Ajouter une catégorie{% endblock %}

{# header #}
{% block subTitle %}Remplissez les champs suivants pour ajouter une catégorie{% endblock %}

    {% block body %}
        {{ form(form) }}
        <div class="my-5"></div>
    {% endblock %}
